.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(15, 15, 15, 0.836);
  color: #b55b1182;
}

.home__title {
  height: 7%;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 2em;
}

.home__user-title {
  color: white;
  padding: 1.5em 0;
  padding-left: 0;
}

.home__user-container {
  padding: 1em;
  border: 2px dashed #b55b11;
  height: 80%;
  display: flex;
  width: 30%;
  min-width: 500px;
  justify-content: space-around;
  flex-direction: column;
}

.home__form-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home__button-container {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  margin-bottom: 2em;
}

.home__infos-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.home__info-container {
  min-height: 35px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.home__info {
  min-width: 150px;
  color: rgba(255, 255, 255, 0.605);
  line-height: 1.1;
}

.home__info-definition {
  text-align: start;
  color: #c16f2d;
  font-weight: bold;
}

.home__decoration-smiley {
  text-align: center;
}
