.chatroom {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(15, 15, 15, 0.836);
}

.chatroom__container {
  width: 80%;
  height: 80vh;
  background-color: rgba(15, 15, 15, 0.612);
  border: 5px solid #b55b11;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.chatroom__channels-container {
  height: 100%;
  width: 15%;
}

.chatroom__placeholder {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.163);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.chatroom__placeholder--text {
  margin-bottom: 1em;
  font-size: 2.3em;
}

.chatroom__placeholder--emojis {
  font-size: 3em;
}
