.messages {
  height: 70%;
  padding: 0.5em 0;
  display: flex;
}

.messages__container {
  width: 95%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.messages__message-owner {
  display: flex;
  justify-content: flex-start;
  color: white;
  text-align: center;
}

.messages__message-normal {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.messages__users-container {
  display: flex;
  width: 5%;
  min-width: 80px;
  flex-direction: column;
  height: 80%;
  padding: 1em 0;
  padding-left: 1em;
  border-left: 2px dashed white;
  border-bottom: 2px dashed white;
}

.messages__message--user {
  text-align: start;
  color: white;
  margin-bottom: 1em;
}

.messages__message--message {
  text-align: start;
  margin-top: 0.5em;
  color: white;
}

.messages__user {
  text-align: center;
  margin: 1em 0;
  text-transform: capitalize;
  color: white;
  font-size: 1.1em;
}

.messages__user-me {
  color: #b55b11;
}
